.nota{
  background-color: whitesmoke;
  height: 180px;
  width: 60px;
}

.teclado{
  height: 100vh;
  width: 100vw;
  background-color: gray;
  text-align: center;
}

.nota:active{
  background-color: #ccc;
}