.cell{
    display: flex;
    justify-content: flex-start;
    
}

.text-cell{
    
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    border-bottom: 1px solid black;
}
.branco{
    background-color: white;
}

.verde{
    background-color: forestgreen;
}

